@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
    * {
        @apply border-border;
    }
    html {
        @apply bg-background text-foreground font-sans;
    }
}

:root {
    --card: 1 0 0;
    --card-foreground: 0.141 0.005 285.823;
    --popover: 1 0 0;
    --popover-foreground: 0.141 0.005 285.823;
    --primary: 0.21 0.006 285.885;
    --primary-foreground: 0.985 0 0;
    --secondary: 0.967 0.001 286.375;
    --secondary-foreground: 0.21 0.006 285.885;
    --muted: 0.967 0.001 286.375;
    --muted-foreground: 0.552 0.016 285.938;
    --accent: 0.967 0.001 286.375;
    --accent-foreground: 0.21 0.006 285.885;
    --destructive: 0.577 0.245 27.325;
    --destructive-foreground: 0.577 0.245 27.325;
    --border: 0.92 0.004 286.32;
    --input: 0.92 0.004 286.32;
    --ring: 0.705 0.015 286.067;
    --chart-1: 0.646 0.222 41.116;
    --chart-2: 0.6 0.118 184.704;
    --chart-3: 0.398 0.07 227.392;
    --chart-4: 0.828 0.189 84.429;
    --chart-5: 0.769 0.188 70.08;
    --radius: 0.625rem;
    --sidebar: 0.985 0 0;
    --sidebar-foreground: 0.141 0.005 285.823;
    --sidebar-primary: 0.21 0.006 285.885;
    --sidebar-primary-foreground: 0.985 0 0;
    --sidebar-accent: 0.967 0.001 286.375;
    --sidebar-accent-foreground: 0.21 0.006 285.885;
    --sidebar-border: 0.92 0.004 286.32;
    --sidebar-ring: 0.705 0.015 286.067;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
}

[data-theme="dark"] {
    color-scheme: dark;
    --background: 0.141 0.005 285.823;
    --foreground: 0.985 0 0;
    --card: 0.141 0.005 285.823;
    --card-foreground: 0.985 0 0;
    --popover: 0.141 0.005 285.823;
    --popover-foreground: 0.985 0 0;
    --primary: 0.985 0 0;
    --primary-foreground: 0.21 0.006 285.885;
    --secondary: 0.274 0.006 286.033;
    --secondary-foreground: 0.985 0 0;
    --muted: 0.274 0.006 286.033;
    --muted-foreground: 0.705 0.015 286.067;
    --accent: 0.274 0.006 286.033;
    --accent-foreground: 0.985 0 0;
    --destructive: 0.396 0.141 25.723;
    --destructive-foreground: 0.637 0.237 25.331;
    --border: 0.274 0.006 286.033;
    --input: 0.274 0.006 286.033;
    --ring: 0.442 0.017 285.786;
    --chart-1: 0.488 0.243 264.376;
    --chart-2: 0.696 0.17 162.48;
    --chart-3: 0.769 0.188 70.08;
    --chart-4: 0.627 0.265 303.9;
    --chart-5: 0.645 0.246 16.439;
    --sidebar: 0.21 0.006 285.885;
    --sidebar-foreground: 0.985 0 0;
    --sidebar-primary: 0.488 0.243 264.376;
    --sidebar-primary-foreground: 0.985 0 0;
    --sidebar-accent: 0.274 0.006 286.033;
    --sidebar-accent-foreground: 0.985 0 0;
    --sidebar-border: 0.274 0.006 286.033;
    --sidebar-ring: 0.442 0.017 285.786;
}

@theme inline {
    --color-background: oklch(var(--background));
    --color-foreground: oklch(var(--foreground));
    --color-card: oklch(var(--card));
    --color-card-foreground: oklch(var(--card-foreground));
    --color-popover: oklch(var(--popover));
    --color-popover-foreground: oklch(var(--popover-foreground));
    --color-primary: oklch(var(--primary));
    --color-primary-foreground: oklch(var(--primary-foreground));
    --color-secondary: oklch(var(--secondary));
    --color-secondary-foreground: oklch(var(--secondary-foreground));
    --color-muted: oklch(var(--muted));
    --color-muted-foreground: oklch(var(--muted-foreground));
    --color-accent: oklch(var(--accent));
    --color-accent-foreground: oklch(var(--accent-foreground));
    --color-destructive: oklch(var(--destructive));
    --color-destructive-foreground: oklch(var(--destructive-foreground));
    --color-border: oklch(var(--border));
    --color-input: oklch(var(--input));
    --color-ring: oklch(var(--ring));
    --color-chart-1: oklch(var(--chart-1));
    --color-chart-2: oklch(var(--chart-2));
    --color-chart-3: oklch(var(--chart-3));
    --color-chart-4: oklch(var(--chart-4));
    --color-chart-5: oklch(var(--chart-5));
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: oklch(var(--sidebar));
    --color-sidebar-foreground: oklch(var(--sidebar-foreground));
    --color-sidebar-primary: oklch(var(--sidebar-primary));
    --color-sidebar-primary-foreground: oklch(var(--sidebar-primary-foreground));
    --color-sidebar-accent: oklch(var(--sidebar-accent));
    --color-sidebar-accent-foreground: oklch(var(--sidebar-accent-foreground));
    --color-sidebar-border: oklch(var(--sidebar-border));
    --color-sidebar-ring: oklch(var(--sidebar-ring));
}

.dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.92 0.004 286.32);
    --primary-foreground: oklch(0.21 0.006 285.885);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.552 0.016 285.938);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);
}

/* Sonner override */
[data-sonner-toast] {
    outline-color: transparent !important;
    outline-offset: 8px !important;
    outline-width: 4px !important;
    outline-style: solid !important;
    border-radius: var(--radius-sm);
}

[data-sonner-toast]:focus-visible {
    box-shadow: none !important;
    outline-color: var(--color-red-600) !important;
}
